@import "src/styles/media-query";

.keyboard-letter {
  font-size: 1.75rem;
  font-weight: 600;
  background: none;
  border: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  cursor: pointer;

  @include phone-only {
    font-size: 1rem;
  }

  &__correct {
    color: #ee5253;
  }

  &__incorrect_place {
    color: #ff9f43;
  }

  &__used {
    color: #8395a7;
  }

  &__not-used {
    color: white;
  }
}
