.card {
  display: inline-block;
  padding: 32px;
  border-radius: 8px;
  background: rgba(245, 246, 250, 0.85);
  backdrop-filter: blur(60px);

  &__success {
    border-color: rgb(49, 93, 73);
    border-width: 2px;
    border-style: solid;
    background: rgba(0, 184, 148, 0.75);
  }
}
