@import "src/styles/media-query";

@mixin changeColorAnimation($name, $color) {
  @keyframes fadeColor#{$name} {
    0% {
      background: #FFFFFFBF;
    }
    100% {
      background: $color;
    }
  }

  animation: 1s ease-out 0s 1 fadeColor#{$name};
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222f3e;
  width: 40px;
  height: 40px;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0.75;

  @include phone-only {
    width: 32px;
    height: 32px;
    border-radius: 8px;
  }

  &-correct {
    @include changeColorAnimation('correct',rgba(238, 82, 83, 1));
    background: rgba(238, 82, 83, 1);
  }

  &-incorrect {
    @include changeColorAnimation('incorrect', #FFFFFFBF);
    background: #FFFFFFBF;
  }

  &-incorrect_place {
    @include changeColorAnimation('incorrect_place', #ff9f43BF);
    background: #ff9f43BF;
  }
}
