@import "src/styles/media-query";

.settings-line {
  align-items: center;
  display: flex;
  gap: 16px;
  flex-direction: row;

  @include phone-only {
    flex-direction: column;
  }

  &__spacer {
    flex: 1;
  }

  &__description-container {
    align-items: center;
    display: flex;
    gap: 16px;

    &__icon-container {
      background: #dfe4ea;
      padding: 8px;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      text-align: center;
      display: flex;
    }

    &__text-container {
      display: flex;
      flex-direction: column;

      &__description {
        color: #718093;
      }
    }
  }
}
